

h1{
    font-size: 12rem;
    margin: 10% auto;
}

input{
    width: 30%;
    padding:12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.start-btn{
    cursor: pointer;
    position: relative;
    padding: 1.5rem 4.5rem;
    border-radius: 3.75rem;
    line-height: 2.5rem;
    font-size:  2rem;
    font-weight: 600;
    margin: 25%;
    color:#0061a8;;
}

.restart-btn{
    cursor: pointer;
    position: relative;
    padding: 1.5rem 4.5rem;
    border-radius: 3.75rem;
    line-height: 2.5rem;
    font-size:  2rem;
    font-weight: 600;
    color:#0061a8;;
}

.submit-btn {
    padding: 12px 20px;
    font-weight: bold;
    margin-left: 2px;
}